.calendar {
    --primary-color: #e2eafc;
    --secondary-color: #edf2fb;
    --primary-text-color: #212529;
    --secondary-text-color: #6c757d;
    --text-disabled-color: #afb3b7;
    --border-color: #ced4da;
    --font-small: 12px;
    --font-regular: 16px;
    --font-large: 20px;
    padding: 10px; /* TODO TO REMOVE */
}
.calendar.month .day {
    flex-basis: 14.28%;
}
.calendar.week .day{
    flex-basis: 14.28%;
}
.calendar.day .day{
    flex-basis: 100%;
}
.name-day {
    font-size: var(--font-small);
    color: var(--secondary-text-color);
    margin: 5px 0 0 0;
}
.month {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 100%;
}
.month.first-row {
    justify-content: flex-end;
}
.day {
    min-height: 120px;
    box-shadow: 1px 1px 0 0 var(--border-color);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}
.day.today .num {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 50%;
}
.day.prev .num,
.day.next .num {
    color: var(--text-disabled-color);
}
.day .num {
    font-size: var(--font-small);
    margin: 0;
}